<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL - Lavanderia Online</title>
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand" href="/home">
            <img src="assets/lol.jpg" alt="Logo Vavanderia" style="height: 30px;"> LOL Lavanderia ONLINE
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav> -->
    <div class="wrapper">
      <h1>Lista de pedidos ativos</h1>
      <form action="#">
          <div class="input-box">
              <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
              <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
              <input type="text" placeholder="" required>
          </div>

          <div class="input-box">
              <input type="text" placeholder="" required>
          </div>

          <div class="input-box">
              <input type="text" placeholder="" required>
          </div>
          <div class="input-box button">
            <a href="/home" class="btn btn-primary">Voltar</a>
          </div>
      </form>
    </div>

