#lavadora {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
   }
   .container {
       position: relative;
       z-index: 2;
   }
   .navbar-brand {
    .btn{
      position: fixed;
      right: 0;
    }
  }