
<!-- consultar-pedido.component.html -->
<div class="container">
  <h1>Consulta de Pedido</h1>
  <form>
      <label for="numeroPedido">Número do Pedido:</label>
      <input type="text" id="numeroPedido" name="numeroPedido" required [(ngModel)]="numeroPedido">
      <button type="button" (click)="buscarPedido()">Pesquisar</button>
  </form>
</div>

<div *ngIf="this.pedidoDetalhes" id="over" class="overlay">
  <div class="popup">
      <h2>Dados do Pedido</h2>
      <div [innerHTML]="this.pedidoDetalhes">{{this.pedidoDetalhes}}</div>
      <a class="close" (click)="fecharModal()" href="#">Fechar</a>
  </div>
</div>
