
<body>

<!-- <video autoplay muted loop id="lavadora">
        <source src="/assets/lavadora-funcionando.mp4" type="video/mp4">
    </video>
-->


    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand" href="#">
            <img src="assets/lol.jpg" alt="Logo Vavanderia" style="height: 30px;"> LOL Lavanderia ONLINE
            <a href="/autocadastro" class="btn btn-primary">Criar Conta</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav> -->


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/cliente3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Acesso Cliente</h5>
                        <p class="card-text">Clique aqui para solicitar serviços.</p>
                        <a href="/login" class="btn btn-primary">Area Clientes</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/funcionario6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Acesso Funcionário</h5>
                        <p class="card-text">Clique aqui se você é funcionário.</p>
                        <a href="/login" class="btn btn-primary">Area Funcionários</a>
                    </div>
                </div>
            </div>


       </div>
    </div>
</body>

